<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List App | Vue JS</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="header">
            <h1>{{ header }}</h1>
            <div v-if="editing" @click="doEdit(false)" class="btn btn-cancel">Cancel</div>
            <div v-else @click="doEdit(true)" class="btn btn-primary">Add Item</div>
        </div>
        <div v-if="editing" class="add-item-form">
            <input 
                v-model="newItem" 
                type="text" 
                placeholder="Add an item"
            >
            <label>
                <input 
                    type="checkbox" 
                    v-model="newItemHighPriority" 
                >
                High Priority
            </label>
            <button 
                v-bind:disabled="newItem.length === 0"
                v-on:click="saveItem" 
                class="btn btn-primary"
            >
            Save Item
            </button>
        </div>

        <p v-if="items.length === 0">Nice job! you've bought all your items!</p>

        <ul>
            <li 
                v-for="item in reversedItems" 
                @click="togglePurchased(item)"
                :key="item.id"
                :class="{strikeout: item.purchased, priority: item.highPriority}"
                class="static-class"   
            >
            {{ item.label }}
            </li>
        </ul>
    </div>

    <!--Import App-->
    <script src="./app.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>